POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=carpull_db

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=86400000
JPA_DDL_AUTO=update

MAIL_USERNAME=car@utec.edu.pe
MAIL_PASSWORD=carpultec123

BUCKET_NAME=carpull-images
AWS_REGION=us-east-1
FRONTEND_URL=http://localhost:5173
OSMR_URL=http://localhost:5000
MAPS_UTEC_LATITUDE=-12.1352
MAPS_UTEC_LONGITUDE=-77.0222
MAPS_UTEC_SEARCH_RADIUS_METERS=3000
MAPS_UTEC_MAX_RESULTS=20